*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.desktop-1 .rectangle-3 {
  border-radius: 20px 20px 0 0;
  background: url('../assets/images/rectangle_7.jpeg') 50% / cover no-repeat;
  margin-bottom: 29px;
  width: 358px;
  height: 157px;
}
.desktop-1 .lugares-disponveis-nd {
  margin: 0 26px 18px 26px;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  color: #000000;
}
.lugares-disponveis-nd-sub3 {
  font-family: 'Inter';
  font-weight: 600;
  font-size: 16px;
  line-height: 1.333;
}
.lugares-disponveis-nd {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.333;
  color: #FF0000;
}
.desktop-1 .latitude-38977474 {
  margin: 0 26px 17px 26px;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  color: #000000;
}
.latitude-38977474-sub3 {
  font-family: 'Inter';
  font-weight: 600;
  font-size: 16px;
  line-height: 1.333;
}
.longitude-130987655-sub3 {
  font-family: 'Inter';
  font-weight: 600;
  font-size: 16px;
  line-height: 1.333;
}
.desktop-1 .longitude-130987655 {
  margin: 0 26px 17px 26px;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  color: #000000;
}
.desktop-1 .ver-detalhes {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 18px;
  color: #FFFFFF;
}
.desktop-1 .container-2 {
  border-radius: 5px;
  background: #181515;
  position: relative;
  margin: 0 17px;
  display: flex;
  align-self: flex-end;
  padding: 14px 15.1px 14px 13px;
  box-sizing: border-box;
}
.desktop-1 .container-3 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  background: #FFFFFF;
  position: relative;
  margin: 266px 67px 0 0;
  display: flex;
  flex-direction: column;
  padding-bottom: 13px;
  box-sizing: border-box;
}
.desktop-1 .rectangle-7 {
  border-radius: 20px 20px 0 0;
  background: url('../assets/images/rectangle_7.jpeg') 50% / cover no-repeat;
  margin-bottom: 29px;
  width: 358px;
  height: 157px;
}
.desktop-1 .lugares-disponveis-8-l {
  margin: 0 26px 18px 26px;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  color: #000000;
}
.lugares-disponveis-8-l-sub3 {
  font-family: 'Inter';
  font-weight: 600;
  font-size: 16px;
  line-height: 1.333;
}
.lugares-disponveis-8-l {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.333;
  color: #048419;
}
.desktop-1 .latitude-389774741 {
  margin: 0 26px 17px 26px;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  color: #000000;
}
.latitude-389774741-sub3 {
  font-family: 'Inter';
  font-weight: 600;
  font-size: 16px;
  line-height: 1.333;
}
.desktop-1 .longitude-1309876551 {
  margin: 0 26px 17px 26px;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  color: #000000;
}
.longitude-1309876551-sub3 {
  font-family: 'Inter';
  font-weight: 600;
  font-size: 16px;
  line-height: 1.333;
}
.desktop-1 .ver-detalhes-1 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 18px;
  color: #FFFFFF;
}
.desktop-1 .container-1 {
  border-radius: 5px;
  background: #181515;
  position: relative;
  margin: 0 16px;
  display: flex;
  align-self: flex-end;
  padding: 14px 14.1px 14px 14px;
  box-sizing: border-box;
}
.desktop-1 .container {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  background: #FFFFFF;
  position: relative;
  margin-top: 266px;
  display: flex;
  flex-direction: column;
  padding-bottom: 13px;
  box-sizing: border-box;
}
.desktop-1 {
  background: #FFFFFF;
  display: flex;
  flex-direction: row;
  padding: 266px 0 400px 0;
  width: 1440px;
  box-sizing: border-box;
}

